.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 96px);
    width: 100vw;
}

.link {
    color: #4C4CFF;
    text-decoration: none;
}
